<% provide(:title, 'Sign up') %>
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>Sign Up</h2>
        </div>
        <div class="panel-body">
          <%= form_for @user do |f| %>
            <%= render 'shared/error_messages' %>

            <div class="form-group"><%=f.label :name %><br />
            <%=f.text_field :name, class: "form-control" %></div>

            <div class="form-group"><%=f.label :email %><br />
            <%=f.text_field :email, class: "form-control" %></div>

            <div class="form-group"><%=f.label :username %><br />
            <%=f.text_field :username, class: "form-control" %></div>

            <div class="form-group"><%=f.label :password %><br />
            <%=f.password_field :password, class: "form-control" %></div>

            <div class="form-group"><%=f.label :password_confirmation %><br />
            <%=f.password_field :password_confirmation, class: "form-control" %></div>

            <div class="form-group"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>or login with:</h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to image_tag("login_with_facebook.png"), "/auth/facebook" %>
        </div>
      </div>
    </div>
  </div>
</div>
