<%= javascript_include_tag "xml_parser" %>

<%= provide(:title, "Browse Brews") %>
<h1 class="text-center">Browse Brews</h1>

<div class="center">
  <%= form_for search_path, method: :get do |f| %>
    <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
    </p>
  <% end %>
</div>

<div class="center jumbotron">
  <% @beers.each do |beer| %>
    <div class="media">
      <div class="media-left media-middle">
        <% if current_user %>
          <%= link_to "", beer_upvote_path(beer.id), class: "glyphicon glyphicon-chevron-up" %>
          <span class="badge"><%= beer.total_votes %></span>
          <%= link_to "", beer_downvote_path(beer.id), class: "glyphicon glyphicon-chevron-down" %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= beer.user.username || beer.user.name %>
          <%= image_tag(avatar_url(beer.user), class: "img-circle") %>
        </h4>
        <p>Name: <%= beer.name %> | Style: <%= beer.style %> | OG: <%= beer.og %> | FG: <%= beer.fg %></p>
        <% if logged_in? && beer.beer_xml_file_name %>
          <p><%= link_to("download", download_path(beer)) %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
