<%= javascript_include_tag "xml_parser" %>

<%= provide(:title, "Browse Brews") %>
<%= render 'layouts/flash' %>
<h1 class="text-center">Browse Brews</h1>
<div class="center jumbotron">
  <%= render partial: "search" %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Beer Name</th>
          <th>Style</th>
          <th>OG</th>
          <th>FG</th>
          <% if logged_in? %>
            <th>Download</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @beers.each do |beer| %>
          <tr>
            <td><%= link_to "", beer_upvote_path(beer.id), class: "glyphicon glyphicon-chevron-up", id: "chev-up" %>
                <span class="badge"><%= beer.total_votes %></span>
                <%= link_to "", beer_downvote_path(beer.id), class: "glyphicon glyphicon-chevron-down", id: "chev-down" %>
            </td>
            <%#= beer.user.username || beer.user.name %>
            <td>
              <%= image_tag(avatar_url(beer.user), class: "img-circle") %>
            </td>
            <td><%= beer.name %></td>
            <td><%= beer.style %></td>
            <td><%= beer.og %></td>
            <td><%= beer.fg %></td>
            <% if logged_in? && beer.beer_xml_file_name %>
              <td><%= link_to(image_tag("xml.png"), download_path(beer)) %></td>
            <% end %>
        <% end %>
      </tbody>
    </table>
</div>
