<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <ul class="nav nav-pills">
        <% if current_user %>
          <li><%= link_to "Home", root_path %></li>
          <ul class="nav nav-pills pull-right">
            <%= image_tag(avatar_url(current_user), class: "img-circle") %>
            <li class="dropdown">
              <% if current_user.name.empty? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as: <strong><%= current_user.email %></strong><span class="caret"></span></a>
              <% else %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as: <strong><%= current_user.name %></strong><span class="caret"></span></a>
              <% end %>
              <ul class="dropdown-menu">
                <% unless oauth_user? %>
                  <li><%= link_to "Account settings", edit_user_path(current_user) %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
